<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tyndex</title>
</head>
<body>

<form th:string="${request}" method="POST" action="/get-result">
    <table class="add_task">
        <tr>
            <th colspan="2">Nothing will be found</th>
        </tr>
        <tr>
            <td><label>
                <input type="text" th:field="*{request}"/>
            </label></td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="add">
            </th>
        </tr>
    </table>
</form>

<table class="Aggregation">
    <tr>
        <th>From</th>
        <th>Result</th>
        <th></th>
    </tr>
    <th:block th:each="res : ${aggregation}">
        <tr>
            <td th:text="${res.getSearcherName()}"></td>
        </tr>
        <tr>
            <td th:text="${res.getResponse()}"></td>
        </tr>
    </th:block>
</table>

</body>
</html>