<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tyndex</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<form th:string="${request}" method="POST" action="/get-result">
    <table class="find">
        <tr>
            <th colspan="2">Nothing will be found</th>
        </tr>
        <tr>
            <td><label>
                <input type="text" th:name="request"/>
            </label></td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="find">
            </th>
        </tr>
    </table>
</form>

<table class="aggregation">
    <tr>
        <th>From</th>
        <th>Result</th>
    </tr>
    <th:block th:each="res : ${aggregation}">
        <tr>
            <td th:text="${res.getSearcherName()}"></td>
            <td th:text="${res.getResponse(5)}"></td>
        </tr>
    </th:block>
</table>

</body>
</html>